:root {
  --primary-color: #007bff;
  --secondary-color: #f4f4f9;
  --text-color: #333;
  --header-padding: 40px 0px 24px 0px;
  --gray-color: #666;
  --white-color: #ffffff;
  --blue-button-color: #0056b3;
  --footer-padding: 20px;
  --footer-margin-top: 40px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.navbar-toggler {
  @media screen and (max-width: 991px) {
    margin-top: -55px;
  }
  @media (max-width: 768px) {
    margin-top: -49px;
  }
  @media (max-width: 425px) {
    margin-top: -55px;
  }
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: var(--header-padding);
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--white-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  @media screen and (max-width: 991px) {
    font-size: 1.6rem;
  }
  @media (max-width: 768px) {
    font-size: 1.2rem;
    margin-left: 5%;
  }
  @media (max-width: 425px) {
    font-size: 1.2rem;
    margin-left: 5%;
  }
  @media (max-width: 320px) {
    font-size: 1.2rem;
    margin-top: 3%;
    margin-left: 5%;
  }
}

.card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.card a:hover {
  text-decoration: none;
  opacity: 0.8;
}
a:hover {
  text-decoration: underline;
}

.post {
  border: 1px solid var(--white-color);
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.post p {
  color: var(--gray-color);
  line-height: 1.6;
}

.post .btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.post .btn-primary:hover {
  background-color: var(--blue-button-color);
}

.sidebar {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
}

#topbtn {
  bottom: 20px;
  display: none;
  position: fixed;
  outline: none;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  border-radius: 50px;
}

#topbtn:hover {
  background-color: var(--gray-color);
}
footer form {
  max-width: 600px;
  margin: 0 auto;
}

footer .form-control {
  margin-bottom: 10px;
}

footer .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}
